.card-form {
    position: relative;
    top: 30%;
    left: 300px;
    width: 400px;
    padding: 25px;

    @media screen and (max-width: 1100px) {
        position: static;
        margin-top: 90px;
        margin-left: 200px;
        margin-right: 20px;
        margin-bottom: 90px;
        width: 400px;
        height: 200px;
    }

    @media screen and (max-width: 764px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    @media screen and (max-width: 500px) {
        width: 350px;
    }

}