body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--very-dark-violet);
    background-color: var(--white);
    font-size: var(--font-size);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

img {
    max-width: 100%;
}

input {
    margin-top: 10px;
    font-family: var(--font-family);
    border: 1px solid var(--light-grayish-violet);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

    @media screen and (max-width: 500px) {
        width: 332px;
    }



    &:focus {
        outline: none;
        border-image: var(--linear-gradient);
        border-image-slice: 1;
    }
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

label {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.7px;
}

::placeholder {
    font-family: var(--font-family);
}