:root {
    // Primary

    // (active input border)
    --linear-gradient: linear-gradient(90deg, rgba(100, 72, 254, 1) 0%, rgba(96, 5, 148, 1) 35%);

    // input errors
    --red: hsl(0, 100%, 66%);

    // Neutral

    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);

    // Typography
    --font-family: 'Space Grotesk', sans-serif;
    --font-size: 18px;
}